frontend/node_modules/*

# Ignore bundler config.
backend/.bundle

# Ignore all logfiles and tempfiles.
backend/log/*
backend/tmp/*

# Ignore uploaded files in development
backend/storage/*

backend/.byebug_history

# Ignore master key for decrypting credentials and more.
backend/config/master.key
